<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zaf.econnecto">

    <application
        android:name=".utils.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- application was getting crashed on Android pie -->
        <activity android:name=".ui.activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.RegisterActivity" />
        <activity android:name=".ui.activities.MainActivity" />
        <activity android:name=".ui.activities.ChangePswdActivity" />
        <activity android:name=".ui.activities.ForgetPswdActivity" />
        <activity android:name=".ui.activities.UploadImageActivity" />
        <activity
            android:name=".ui.activities.BizDetailsActivity"
            android:theme="@style/BizDetailTheme" />
        <activity
            android:name=".ui.activities.MyBusinessActivity"
            android:theme="@style/BizDetailTheme" />
        <activity android:name=".ui.activities.EnterNewPswdActivity" /> <!-- android:parentActivityName=".ui.activities.MainActivity"/> -->
        <activity android:name=".ui.activities.SplashActivity" />
        <activity android:name=".ui.activities.MultipartUploadActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>